@{
    ViewData["Title"] = "Index";
}

<div class="navbar">
    <a class="navbar-brand" href="@Url.Action("Index", "Home")">TO-DO</a>
    <div class="navbar-links">
        <a href="@Url.Action("MostrarAgregarTarea", "Home")">Agregar Tarea</a>
        <a href="@Url.Action("Logout", "Account")">Salir</a>
    </div>
</div>
<div class="container">
    <h1>Bienvenido a TO-DO</h1>
    <p>Organiza tus tareas de forma simple y eficiente.</p>
    <div style="text-align:center; margin-top:32px;">
        <a href="@Url.Action("mostrarLogin", "Account")" class="btn">Iniciar Sesión</a>
        <a href="@Url.Action("mostrarRegister", "Account")" class="btn btn-secondary">Registrarse</a>
    </div>
</div>


